#register.card.bg-light.border-0
  %article.card-body.mx-auto{:style => "max-width: 400px;"}
    %h4.card-title.mt-3.text-center Create Account
    %p.text-center Get started with your free account
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-group.input-group
        .input-group-prepend
          %span.input-group-text
            %i.fa.fa-envelope
        = f.input :email, label: false, required: true, autofocus: true, class: 'form-control', placeholder: 'Email'
      .form-group.input-group
        .input-group-prepend
          %span.input-group-text
            %i.fa.fa-lock
        = f.input :password, label: false, required: true, class: 'form-control', placeholder: 'Password'
      .form-group.input-group
        .input-group-prepend
          %span.input-group-text
            %i.fa.fa-lock
        = f.input :password_confirmation, label: false, required: true, class: 'form-control', placeholder: 'Repeat password'
      .form-group
        = f.submit 'Create Account', class: 'btn btn-primary btn-block'
      %p.divider-text
        %span.bg-light OR
      .form-group.js-switch-form
        .btn.btn-info.btn-block
          I have account already