.container
  .row.justify-content-center.mt-5
    .create-form
      = simple_form_for(@stock) do |form|
        = form.input :name, input_html: { minlength: 3, maxlength: 20 }
        = form.input :unit_price, input_html: { min: 1 }
        = form.input :interest, input_html: { min: 1, max: 100 }
        = form.input :duration, input_html: { min: 1 }
        = form.button :submit, class: 'w-100'