#register.card.bg-light.border-0
  %article.card-body.mx-auto{ style: 'max-width: 400px;' }
    %h4.card-title.mt-3.text-center= t('home.index.create_button')
    %p.text-center= t('home.index.get_started')
    = simple_form_for(:user, url: user_registration_path) do |f|
      = f.error_notification
      .form-group.input-group
        .input-group-prepend
          %span.input-group-text
            %i.fa.fa-envelope
        = f.input :email, label: false, required: true, autofocus: true, class: 'form-control', placeholder: 'Email'
      .form-group.input-group
        .input-group-prepend
          %span.input-group-text
            %i.fa.fa-lock
        = f.input :password, label: false, required: true, class: 'form-control', placeholder: 'Password'
      .form-group.input-group
        .input-group-prepend
          %span.input-group-text
            %i.fa.fa-lock
        = f.input :password_confirmation, label: false, required: true, class: 'form-control', placeholder: 'Repeat password'
      .form-group
        = f.submit t('home.index.create_button'), class: 'btn btn-primary btn-block'
      %p.divider-text
        %span.bg-light OR
      %a.form-group.js-switch-form
        .btn.btn-info.btn-block
          = t('home.index.already_registered')
